<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="top-right">
    <a class="button" href="/logout"> Logout </a>
</div>
<div id="container">
    <img src="https://us-election-ctf.s3.amazonaws.com/flag-400.png" width="400" height="211" alt="flag">
    <h1 th:text="'Hello Admin: ' + ${name} + '!'"></h1>

    <h2>Vote Counts:</h2>
    <h3 th:text="'Republican: ' + ${numRepublicanVotes} + '!'"></h3>
    <h3 th:text="'Democrat: ' + ${numDemocratVotes} + '!'"></h3>
</div>
</body>
</html>
