<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>

    <title>Election CTF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="top-right">
    <a class="button" href="/logout"> Logout </a>
</div>
<div id="container">
    <h1 th:text="'Hello Developer: ' + ${name} + '!'"></h1>
    <form style="margin-bottom: 15%;" action="/dev/mailInBallot" method="post">
        <input type="radio" id="democrat" name="voteValue" value="DEMOCRAT" required>
        <label for="democrat">Democrat</label><br>
        <input type="radio" id="republican" name="voteValue" value="REPUBLICAN">
        <label for="republican">Republican</label><br>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="user123" minlength="1" maxlength="50" required>
        <button class="button" type="submit">Submit Vote</button>
        <p th:if="${finalFlag != null}" th:text="${finalFlag}"></p>
    </form>
</div>
</body>
</html>