<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"/>

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="fullscreen">
    <h1>Search Users:</h1>
    <form style="margin-bottom: 15%;" action="/search" method="get">
        <label for="userSearch">Username</label>
        <input type="text" id="userSearch" name="userSearch" placeholder="user123" minlength="1" maxlength="50" required>
        <button class="button" type="submit">Search</button>
    </form>

</div>
</body>
</html>