<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="fullscreen">
	<img src="https://us-election-ctf.s3.amazonaws.com/flag-400.png" width="400" height="211">
        <h1>Welcome Voters</h1>
        <h2>Login to cast your vote.</h2>
        <a class="button" href="/login"> Login </a>
        <a class="forgot" href="/forgot">Forgot Username</a>

    </div>
</body>
</html>
