<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>
    <link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet"/>

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="top-right">
    <a class="button" href="/login"> Login </a>
</div>
<div id="container">
    <h1 th:text="'Search results for: ' + ${queryString}"></h1>
    <p th:if="${error != null}" th:text="${error}"></p>

    <table th:if="${error == null}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${results.isEmpty()}">
            <td colspan="4"> No results found! </td>
        </tr>
        <tr th:unless="${results.isEmpty()}" th:each="result : ${results}">
            <td><span th:text="${result.getId()}"></span></td>
            <td><span th:text="${result.getUsername()}"></span></td>
            <td><span th:text="${result.getFirstName()}"></span></td>
            <td><span th:text="${result.getLastName()}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>