<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="top-right">
    <a class="button" href="/login"> Login </a>
</div>
<div id="container">
    <h1 th:text="'Search results for: ' + ${queryString} + '!'"></h1>
    <p th:text="${results}"></p>
</div>
</body>
</html>