<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>

    <title>Election CTF</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>


</div>


<div class="top-right">
    <a class="button" href="/logout"> Logout </a>
</div>
<div id="container">
    <h1 th:text="'Hello ' + ${name} + '!'"></h1>

    <p>flag-4b75d8ea6126ca81b732e6b52b44c60f</p>

    <form style="margin-bottom: 15%;" action="/user/vote" method="post">
        <input type="radio" id="democrat" name="voteValue" value="DEMOCRAT" required>
        <label for="democrat">Democrat</label><br>
        <input type="radio" id="republican" name="voteValue" value="REPUBLICAN">
        <label for="republican">Republican</label><br>
        <button class="button" type="submit">Submit Vote</button>
        <p>FLAG 2 PASSPHRASE: "ClueNumber2"</p>
    </form>
</div>
</body>
</html>