<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet"/>
    <link href="../static/css/standard-page.css" th:href="@{/css/standard-page.css}" rel="stylesheet"/>

    <title>Orange Team Capture the Flag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>


</div>


<div class="top-right">
    <a class="button" href="/logout"> Logout </a>
</div>
<div id="container">
    <h1 th:text="'Hello ' + ${name} + '!'"></h1>
    <h2>Login to cast your vote.</h2>
</div>
</body>
</html>